/*=== CSS Global ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Poppins', sans-serif;
}
/*=== Menu ===*/
header {
    width: 100%;
    background-color: #181823;
    position: fixed;
}
.navbar-dark li a{ 
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-dark li a:hover {
    color: #db0037;
    font-size: 1rem;
    transition: .5s;
}
.nav-link {
    text-align: center;
    line-height: 45px;
    margin: 0px 0;
    transition: all .5s;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
/*=== Banner===*/
.banner {
    background-image: linear-gradient(to right bottom, rgba(218, 0, 55, .7) 0%, rgba(12, 1, 1, 0.575)100%), url(../img/banner.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-family: 'Belanosima';
    font-weight: 400;
}
.banner h1 {
    margin-top: 50vh;
    font-size: 75px;
}
.banner h2 {
    font-size: 45px;
}

/*=== Nosotros ===*/
#nosotros {
    background-color: #e75793;
    color: #fff;
}
#nos {
    color: #fff;
}
.titulo-banner {
    font-size: 60px;
    margin-bottom: 30px;
}
.copy {
    font-weight: 300;
    font-size: 25px;
}
.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.contenedor {
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 60px 0 60px;
}
article {
    max-width: 1200px;
    margin: auto;
}
.contenedor-servicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
} 
.contenedor-servicio img {
    width: 40%;
}
.titulos {
    text-align: center;
    font-weight: 800;
    color: #3e51e2b0; /*3e51e2f6*/
    margin-bottom: 85px;
    font-size: 40px;
}
.checklist{
    width: 45%;
}
.service {
    margin-bottom: 20px;
    text-align: center;
}
/*=== Propuesta ===*/
.n-edu {
    margin-bottom: 15px;
    color: #983ee2;
    font-weight: 700;
}
.educativos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-edu {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.cont-edu img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.subtitulo {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}
/*=== Noticia ===*/
.articulo{
    width: 95%;
    text-align: justify;
    column-count: 2;
    column-gap: 40px;
    line-height: 2;
}
#ch {
    display: none;
}
#btn {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: #e75793;
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ch:checked ~ .extra {
    display: block;
}
#ch:checked ~ #btn {
    display: none;
}
.extra {
    display: none;
}
#che {
    display: none;
}
#che:checked ~ .xtra {
    display: block;
}
#che:checked ~ #btn {
    display: none;
}
.xtra {
    display: none;
}
/*=== Contacto ===*/
form {
    width: 60%;
    max-width: 400px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #091047fb;
    background-image: url(../img/scribble.svg); 
}
.form-input {
    padding: auto;
    margin: 3px;
}
input, textarea {
    width: 100%;
    background-color: #818ec6b9;
    padding: 10px ;
    margin-bottom: 10px;
    border: 0;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #EDEDED;
}
textarea {
    resize: none;
}
::placeholder {
    color:#bfc9f3; 
    font-size: 15px;
}
:focus {
    outline: 1px solid #ff076e; /*14F9A6 */
}
h3 {
    margin: 10px;
}
.botonEnviar {
    background-color: #ff076e;
    color: #fff;
    cursor: pointer;
}
.botonEnviar:hover { 
    background-color: #e75793;
    font-weight: 600;
}
.imagen img {
    width: 50%; 
    padding-top: 30px;
}
/*=== Footer ===*/
footer {
    color: #EDEDED;
    background-color: #181823;
}
.fa-linkedin-in {
    margin: 10px;
    font-size: 30px;
    color: #0072B1
}
.fa-facebook {
    margin: 10px;
    font-size: 30px;
    color: #4267B2;
}
.fa-instagram {
    margin: 10px;
    font-size: 30px;
    color: #fb3958; 
}
.grupo-1 { 
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 55px 0;
}
.grupo-1 iframe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grupo-1 .caja p {
    color: #fff;
    width: 120%;
    margin-bottom: 10px;
}
.caja .icono a {
    display: inline-block;
    justify-content:center;
    text-align: center; 
}
.grupo-2 {
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    flex-direction: column;
}
@media screen and (max-width:990px){
    .contenedor-servicio img {
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    .cont-edu{
        width: 80%;
    }
    .articulo {
        column-count: 1;
    }
    .grupo-1 { 
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }
}
@media screen and (max-width:500px){
    .titulos{
        font-size: 30px;
    }
}